/* 
class에는 .을,  
그냥 태그에는 nothing ex: body,
id 에는 #,
*/
body {
  color: #16a085;
  background: #212121;
}

h1 {
  position: relative;
  top: 100px;
  text-align: center;
  width: 300px;

  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  font-size: 36px;
}

.square {
  position: relative;
  width: 700px;
  margin: 150px auto;
  display: flex;
  align-items: center;
}

#clock {
  position: relative;
  background: #e0e0e0;
  /* align-items: center; */
  height: 300px;
  width: 300px;
  border-radius: 75px;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

/* 중앙 점 */
#clock .center {
  position: relative;
  text-align: center;
  /* top bottom left right 설정을 다 해줘야지 margin auto가 다 먹힘 */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: #16a085;
  height: 40px;
  width: 40px;
  border-radius: 180px;

  margin: auto;

  z-index: 2;
}

.circle {
  background: #212121;
  width: 15px;
  height: 15px;
  border-radius: 180px;
}

.number {
  color: #212121;
  text-align: center;
  height: 30px;
  width: 30px;
  font-size: 30px;
  font-weight: bold;
}

/* 1시 */
#clock .circle1 {
  position: absolute;
  top: 5px;
  right: 65px;
}

/* 2시 */
#clock .circle2 {
  position: absolute;
  top: 60px;
  right: 5px;
}

/* 3시 */
#clock .number3 {
  position: absolute;
  right: 0;
  margin: auto 0;
}

/* 4시 */
#clock .circle4 {
  position: absolute;
  bottom: 60px;
  right: 5px;
}

/* 5시 */
#clock .circle5 {
  position: absolute;
  bottom: 5px;
  right: 65px;
}

/* 6시 */
#clock .number6 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* 7시 */
#clock .circle7 {
  position: absolute;
  bottom: 5px;
  left: 65px;
}

/* 8시 */
#clock .circle8 {
  position: absolute;
  bottom: 60px;
  left: 5px;
}

/* 9시 */
#clock .number9 {
  position: absolute;
  left: 0;
  margin: auto 0;
}

/* 10시 */
#clock .circle10 {
  position: absolute;
  top: 60px;
  left: 5px;
}

/* 11시 */
#clock .circle11 {
  position: absolute;
  top: 5px;
  left: 65px;
}

/* 12시 */
#clock .number12 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#hourHand {
  position: absolute;
  background: #212121;
  left: 0;
  right: 0;
  bottom: 150px;
  height: 70px;
  width: 10px;
  margin: 0 auto;
  transform-origin: bottom;
  z-index: 1;
}

#minHand {
  position: absolute;
  background: #212121;
  left: 0;
  right: 0;
  bottom: 150px;
  height: 100px;
  width: 10px;
  margin: 0 auto;
  transform-origin: bottom;
}

#secHand {
  position: absolute;
  background: red;
  left: 0;
  right: 0;
  bottom: 150px;
  height: 100px;
  width: 2px;
  margin: 0 auto;
  transform-origin: bottom;
}

i.fas {
  text-align: center;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  font-size: 64px;
}

#left {
  position: absolute;
  left: 0;
  cursor: pointer;
}

#right {
  position: absolute;
  right: 0;
  cursor: pointer;
}
