/* 
class에는 .을,  
그냥 태그에는 nothing ex: body,
id 에는 #,
*/
body {
    color: #16a085;
    background: #212121;  
}

h1 {
    position: relative;
    top : 100px;
    text-align: center;
    width: 300px;

    height: 60px;
    line-height: 60px;
    border: 2px solid greenyellow;
    margin: 0 auto;
    font-size: 36px;
}

#clock {
    position: relative;
    background: #e0e0e0;
    /* align-items: center; */
    height: 300px; 
    width: 300px;
    border: 2px solid greenyellow;
    border-radius: 75px;
    margin: 150px auto;
    
    display: flex;
    align-items: center;
}

/* 중앙 점 */
#clock .center{
    position: relative;
    text-align: center;
    /* top bottom left right 설정을 다 해줘야지 margin auto가 다 먹힘 */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: #16a085;
    height: 40px; 
    width: 40px;
    border: 2px solid red;
    border-radius: 180px;

    margin : auto;
}
/* 1시 */
#clock .circle1{
    position: absolute;
    background: #212121;
    top:15px;
    right:55px;
    height: 15px;
    width: 15px;
    border: 2px solid red;
    border-radius: 180px;
}

/* 2시 */
#clock .circle2{
    position: absolute;
    background: #212121;
    top:60px;
    right:15px;
    height: 15px;
    width: 15px;
    border: 2px solid red;
    border-radius: 180px;
}


/* 3시 */
#clock .number3{
    position: absolute;
    color: #212121;  
    text-align: center;
    right : 0;

    height: 30px; 
    width: 30px;
    border: 2px solid red;

    font-size: 30px;
    font-weight: bold;

    margin: auto 0;

}

/* 4시 */
#clock .circle4{
    position: absolute;
    background: #212121;
    bottom:60px;
    right:15px;
    height: 15px;
    width: 15px;
    border: 2px solid red;
    border-radius: 180px;
}

/* 5시 */
#clock .circle5{
    position: absolute;
    background: #212121;
    bottom:15px;
    right:55px;
    height: 15px;
    width: 15px;
    border: 2px solid red;
    border-radius: 180px;
}


/* 6시 */
#clock .number6{
    position: absolute;
    color: #212121;  
    text-align: center;
    
    bottom: 0;
    left: 0;
    right: 0;

    height: 30px; 
    width: 30px;
    border: 2px solid red;

    font-size: 30px;
    font-weight: bold;

    margin: 0 auto;
}

/* 7시 */
#clock .circle7{
    position: absolute;
    background: #212121;
    bottom:15px;
    left:55px;
    height: 15px;
    width: 15px;
    border: 2px solid red;
    border-radius: 180px;
}

/* 8시 */
#clock .circle8{
    position: absolute;
    background: #212121;
    bottom:60px;
    left:15px;
    height: 15px;
    width: 15px;
    border: 2px solid red;
    border-radius: 180px;
}


/* 9시 */
#clock .number9{
    position: absolute;
    color: #212121;  
    text-align: center;

    left : 0;

    height: 30px; 
    width: 30px;
    border: 2px solid red;

    font-size: 30px;
    font-weight: bold;
    
    margin: auto 0;

}

/* 10시 */
#clock .circle10{
    position: absolute;
    background: #212121;
    top:60px;
    left:15px;
    height: 15px;
    width: 15px;
    border: 2px solid red;
    border-radius: 180px;
}

/* 11시 */
#clock .circle11{
    position: absolute;
    background: #212121;
    top:15px;
    left:55px;
    height: 15px;
    width: 15px;
    border: 2px solid red;
    border-radius: 180px;
}


/* 12시 */
#clock .number12{
    position: absolute;
    color: #212121;  
    text-align: center;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 30px; 
    width: 30px;
    border: 2px solid red;

    font-size: 30px;
    font-weight: bold;

    margin: 0 auto;
}
