/* 
class에는 .을,  
그냥 태그에는 nothing ex: body,
id 에는 #,
*/
body {
  color: #16a085;
  background: #212121;
}

h1 {
  position: relative;
  top: 100px;
  text-align: center;
  width: 200px;
  height: 60px;
  line-height: 60px;
  border: 2px solid greenyellow;
  margin: 0 auto;
  font-size: 36px;
}

#now {
  position: relative;
  top: 100px;
  text-align: center;
  width: 700px;
  height: 100px;
  line-height: 100px;
  border: 2px solid greenyellow;
  margin: 0 auto;
  font-size: 36px;
}

/* 아이콘 css */
i {
  position: relative;
  top: 200px;
  left: 50px;
  text-align: center;
  width: 64px;
  height: 64px;
  border: 2px solid greenyellow;
  font-size: 64px;
  cursor: pointer;
}
