<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fastawsome css link-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/css/digital.css"/>

    <title>digital Clock</title>
</head>
<body>
    <h1>Digital Clock</h1>
    <section>
        <div class = "square">
            <div id = "now"></div>
            <i id = "left" class="fas fa-chevron-circle-left"></i>
        </div>

    </section>
    <script src = "/js/digital.js"></script>
</body>
</html>